@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0a6fba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 88px;
  font-size: 14px;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  color: #444;
}

.Search-container {
  background-color: #f3ce56;
  width: 480px;
  padding: 24px;
  box-sizing: border-box;
}

.Search-input {
  position: relative;
}

.Search-container p {
  padding: 0 0 4px;
  margin: 0;
}

.Search-container input {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5rem;
  -webkit-appearance: none;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  height: 40px;
  min-width: 49px;
  padding: 8px 16px;
  width: 100%;
  height: 48px;
  font-size: 1rem;
  border-color: #c8ae5b;
  box-sizing: border-box;
}

.Search-container input::placeholder {
  font-size: 14px;
}

.Search-container input:focus {
  border-color: #0f6193;
  outline: 0;
}

.Search-results {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #0f6193;
  background: white;
  margin-top: -5px;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.Search-results li {
  padding: 8px 16px;
  font: inherit;
  font-size: 16px;
  cursor: pointer;
}

.Search-results li + li {
  border-top: 1px solid #b4b4b4;
}

.Search-results li:hover {
  background-color: #e7f4fe;
}
